.checkoutContainer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.detailsSection {
    flex: 2;
    margin-right: 20px;
}

.form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
   
}

.summarySection {
    flex: 1;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
}

  .divider {
    border: none;
    border-top: 1px solid #ddd;
    margin: 10px 0;
  }

.continueButton:hover {
    background-color: #333;
}


.applyButton {
    background-color: #000;
    color: #fff;
    padding: 5px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.applyButton:hover {
    background-color: #333;
}

.coupons {
    margin-bottom: 20px;
}

.orderSummary {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    background: white;
    font-family: Arial, sans-serif;
}

.row {
    width:100%;
    gap:10px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: 8px 0;
}

.summaryItem {
    display: flex;
    font-size: 14px;
    font-weight: 500;
  }

  .totalCost {
    justify-content: space-between;
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0;
  }

  .free {
    color: red;
    font-weight: bold;
    margin-left: auto;
  }

.continueButton {
    background-color: #000;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.continueButton:hover {
    background-color: #333;
}

@media (max-width: 480px) {
    .checkoutContainer {
        flex-direction: column; 
    }
    .detailsSection {
        flex: 1; 
        margin-right: 0; 
        margin-bottom: 20px; 
      }

      .form {
        flex-direction: column;  
        gap: 15px; 
    }

    .input {
        padding: 10px; 
        font-size: 14px; 
    }

    .row {
        font-size: 16px; 
        margin: 10px 0; 
        flex-direction: column; 
        align-items: flex-start;
      }

      .summarySection {
        padding: 15px; 
        margin: 10px 0; 
        flex: 0 1 100%; 
      }

      .coupons {
        margin-bottom: 15px; 
      }

      .applyButton {
        font-size: 16px; 
        margin: 8px; 
        width: 90%; 
      }

      .orderSummary {
        padding: 15px; 
        margin: 10px 0;
      }

      .summaryItem {
        flex-direction: column;  
        font-size: 12px;        
      }

      .totalCost {
        flex-direction: column;   
        font-size: 14px;         
        align-items: flex-start;  
        margin: 8px 0;            
      }

      .continueButton {
        padding: 12px;          
        font-size: 14px;       
      }
}

