.container {
  width:100%;
  max-width: 900px;
  margin: auto;
  padding: 30px;
  margin-bottom: 60px;
}

.container h2{
  background: white;
  border-bottom: 2px solid black;
  text-align: center;
  color: black;
  font-size: 32;
  font-weight: bold;
}

.content {
  margin-top: 20px;
}

.content h3 {
  font-size: 18px;
  line-height: 1.4;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 10px;
  color: #000;
}

.text {
  font-size: 15px;
  color: #555;
  line-height: 1.6;
  margin-bottom: 20px;
}

.italic {
  font-style: italic;
  color: #666;
  font-size: 16px;
}