.pageContainer {
  width: 100%;
  height: auto;
}

.productPage {
  max-width: 1200px;
  font-family: sans-serif;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.breadcrumb {
  margin-bottom: 20px;
}

.productContainer {
  display: flex;
  justify-content: space-between;
}

.imagesContainer {
  display: flex;
  justify-content: space-between;
}

.productDetails {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-left: 20px;
  margin: 0;
}

.imageGallery {
  width: auto;
  padding-right: 10px;
}

.thumbnail {
  max-width: 100px;
  display: flex;
  flex-direction: column;
}

.thumbnail img {
  width: 80px;
  margin-bottom: 10px;
  cursor: pointer;
}

.mainImageContainer {
  position: relative;
  display: flex;
}

.mainImage {
  width: 480px;
  height: auto;
  position: relative;
  overflow: hidden;
  cursor: grab;
}

.mainImage img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.tag {
  position: relative;
  justify-self: right;
  top: 20px;
  right: 60px;
  z-index: 20;
  padding: 8px;
  border-radius: 50%;
  color: white;
}

.imageSwitchButtonLeft,
.imageSwitchButtonRight {
  position: absolute;
  top: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  background: transparent;
  color: rgb(34, 34, 34);
  border: 2px solid rgb(34, 34, 34);
  border-radius: 20px;
  cursor: pointer;
  z-index: 11;
  font-size: 28px;
  transition: background-color 0.5s ease-in-out, border 0.5s ease-in-out;
}

.imageSwitchButtonLeft {
  left: 10px;
}

.imageSwitchButtonRight {
  right: 60px;
}

.imageSwitchButtonLeft:hover,
.imageSwitchButtonRight:hover {
  background: rgb(86, 207, 225);
  color: white;
  border: 2px solid rgb(86, 207, 225);
}

.activeThumbnail {
  opacity: 1;
}

.inactiveThumbnail {
  opacity: 0.6;
}

.zoomHighlightBox {
  position: absolute;
  width: 200px;
  height: 200px;
  background: rgba(255, 255, 255, 0.1);
  pointer-events: none;
  border: 1px solid gray;
  z-index: 10;
}

.zoomPopup {
  position: absolute;
  right: -520px;
  width: 500px;
  height: 500px;
  overflow: hidden;
  pointer-events: none;
  z-index: 10;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.productTitle {
  font-size: 16px;
  font-weight: 600;
  color:#222222;
  margin-bottom: 10px;
  margin-top: -8px;
}

.productPrice {
  font-size: 22px;
  font-weight: 400;
  color:#696969;
  margin-bottom: 20px;
}

.productRating {
  display: flex;
  align-items: center;
  gap: 5px;
}

.star,
.halfStar {
  font-size: 24px;
  color: yellow;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}

.star svg,
.halfStar svg {
  stroke: black;
}

.halfStar svg {
  stroke-width: 1px;
}

.star svg {
  stroke-width: 15px;
}

.noStar {
  font-size: 24px;
  color: gray;
}

.reviewText {
  font-size: 14px;
  color: #777;
}

.productDescription {
  margin-bottom: 20px;
  font-size: 14px;
  color: #333;
  margin: 15px 0;
}

.detailsTitle{
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 400;
  color:rgb(135, 135, 135);
  line-height: 23.8px;
}

.productsizes {
  margin:10px -5px 0;
  padding:5px;
  min-width: 30px;
  min-height: 30px;
  line-height: 18px;
  display: flex;
  gap: 10px;
  margin-top: 10px;
  border-radius: 66px;
}

.sizeButton {
  height: 40px;
  width: 40px;
  padding: auto;
  border-radius: 50%;
  background-color: white;
  color: #333;
  margin-right: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.sizeButton:hover {
  background-color: black;
  color: #eee;
}

.activeSize {
  background-color: black;
  color: white;
}

.actions {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

.quantityContainer {
  display: flex;
  max-height: 40px;
  align-items: center;
  border: 1px solid black;
  border-radius: 25px;
  padding: auto;
  width: fit-content;
}

.quantityButton {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 5px 10px;
}

.quantityButton:hover {
  color: aqua;
}

.count {
  margin: 0 10px;
  font-size: 16px;
  font-weight: bold;
}

.addToCart {
  padding: 10px 20px;
  border-radius: 25px;
  background-color: hsl(197, 71%, 73%);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.3s ease-in-out;
  animation: shake 5s infinite linear;
}

@keyframes shake {
  20%,
  100% {
    transform: translateX(0);
  }
  2%,
  6%,
  10%,
  14%,
  18% {
    transform: translateX(-10px);
  }
  4%,
  8%,
  12%,
  16% {
    transform: translateX(10px);
  }
}

.addToCart:hover {
  background: #43bacc;
}

.iconButton {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #000;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.securityIcons {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}

.infoSection {
  display: flex;
  gap: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}

.delivery:hover {
  color: rgb(86, 207, 225)
}

.question:hover {
  color: rgb(86, 207, 225)
}

.details{
  margin-bottom: 15px;
}

.detailsInfo{
  color: #000;
}
.detailsFashininfo{
  color: #000;
}

.detailsFashininfo:hover{
  color: rgb(86, 207, 225)
}

.detailprice:hover{
  color: rgb(86, 207, 225)
}

.detailsVendor:hover{
  color: rgb(86, 207, 225)
}

.category:hover{
  color: rgb(86, 207, 225)
}

.inStock {
  color: #999;
}

.socialIcons {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}






.securityBadges {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.links {
  display: flex;
  gap: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.availability,
.categories,
.tags {
  color: gray;
  margin: 10px 0;
}

.strong {
  color: black;
}

.socialIcons {
  display: flex;
  gap: 15px;
}

.iconWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  transition: transform 0.3s ease, color 0.3s ease;
}

.icon:hover {
  transform: translateY(-5px); /* Move icon up */
  color: #007bff; /* Change color on hover */
}

.active {
  transform: translateY(-5px);
  color: blue;
}
.tooltip {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  background: #333;
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.iconWrapper:hover .tooltip {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(-5px); /* Move tooltip up */
}


@media (max-width: 450px) {
  .pageContainer {
    padding: 5px; 
  }

  .productPage {
    padding: 5px; 
    font-size: 14px; 
  }

  
    .breadcrumb {
      margin-bottom: 5px; 
      font-size: 12px; 
      white-space: nowrap; 
      overflow-x: auto; 
    }

    .productContainer {
      flex-direction: column; 
      align-items: center; 
    }

    .imagesContainer {
      flex-direction: column; 
      align-items: center; 
    }
}

