.mainContainer {
  height: auto;
  width: 100%;
  display: flex;
  background-color: #f9f9f9;
}

.container {
  display: flex;
  max-width: 1100px;
  justify-content: space-between;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.cartSection {
  width: 500px;
  margin-right: 20px;
}

.cartTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.cartTitle h2 {
  font-size: 20px;
  font-weight: 600;
}

.cartTitle .cartItem span {
  font-size: 16px;
  color: #333;
}

.cartItem {
  max-width: 550px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #eee;
  position: relative;
}

.cartItem img {
  width: 80px;
  border-radius: 5px;
}

.cartItem h3 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}

.cartItem p {
  font-size: 14px;
  color: #888;
}

.cartItem p span {
  font-weight: 600;
  color: #222;
}

.quantityControl {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 2px 6px;
}

.quantityControl button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 2px 6px;
}

.quantityControl span {
  padding: 2px 6px;
  border: none;
  margin: 0 4px;
}

.removeBtn {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  color: #cc0000;
  border: none;
  cursor: pointer;
  padding: 2px 6px;
  font-size: 12px;
}

.removeBtn:hover {
  color: #ff1a1a;
  text-decoration: underline;
}

.itemDetails {
  flex: 1;
  margin-left: 8px;
}

.summarySection {
  flex: 1;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
}


.form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
}



.coupons{
  margin-bottom: 20px;
}

.orderSummary {
  border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    background: white;
    font-family: Arial, sans-serif;
}

.divider {
  border: none;
  border-top: 1px solid #ddd;
  margin: 10px 0;
}


  .row {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: 8px 0;
}


  .summaryItem {
    display: flex;
    font-size: 14px;
    font-weight: 500;
  }

.totalCost {
  
  justify-content: space-between;
  font-size: 16px;
  font-weight: 600;
  margin-left: auto;
}

.free {
  color: red;
  font-weight: bold;
  margin-left: auto;
}

.totalPrice{
  text-align: right;
}

.continueButton {
  background-color: #000;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.continueButton:hover {
  background-color: #333;
}


.applyButton {
  background-color: #000;
  color: #fff;
  padding: 5px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.applyButton:hover {
  background-color: #333;
}

/* Mobile view */
@media (max-width: 450px) {
  .mainContainer {
    flex-direction: column; 
    padding: 10px; 
  }

  .container {
    flex-direction: column; 
    padding: 9px; 
  }

  .cartSection {
    width: 100%; 
    margin-right: 0; 
  }

  .cartTitle {
    flex-direction: column; 
    margin-bottom: 15px; 
    text-align: center; 
  }

  .cartTitle h2 {
    font-size: 18px;
    font-weight: 600; 
  }

  .cartTitle .cartItem span {
    font-size: 12px; 
    color: #555; 
  }

  .cartItem {
    max-width: 100%;  
    padding: 12px; 
    justify-content: space-between; 
  }

  .cartItem img {
    width: 60px; 
    border-radius: 5px; 
  }

  .cartItem h3 {
    font-size: 14px;
    font-weight: 500; 
    margin-bottom: 8px; 
  }

  .cartItem p {
    font-size: 12px; 
    color: #777; 
  }

  .cartItem p span {
    font-weight: 600; 
    color: #333; 
  }
  .quantityControl {
    padding: 4px 8px; 
    font-size: 14px; 
  }

  .quantityControl button {
    padding: 4px 8px; 
    font-size: 14px; 
  }

  .quantityControl span {
    padding: 4px 8px; 
    margin: 0 6px; 
  }

  .removeBtn {
    font-size: 14px; 
    top: 5px;
    right: 5px; 
  }

  .itemDetails {
    flex: 0 1 100%;  
    margin-left: 0;  
  }

  .summarySection {
    padding: 10px; 
  }
  .form {
    gap: 5px; 
  }

  .input {
    padding: 12px;
  }

  .coupons {
    margin-bottom: 10px; 
  }

  .orderSummary {
    padding: 10px; 
    font-size: 12px; 
  }

  

}